/* Pallet: https://coolors.co/12130f-d1ac00-7c7c7c-f8f7f9-f17300 */

body{
    background-color: #12130fff;
    margin: 0;
    
}

.anonymous-pro-bold {
    font-family: "Anonymous Pro", serif;
    font-weight: 800;
    font-style: normal;
  }

.title{
color: white;
text-align: center;
font-size: 600%;
z-index: 3;
}



    video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    max-width: 100%;
    z-index:-100;  
    filter: brightness(30%);
} 

.videocover{
    top: 20px;
    width: 100%;
    background-color: #12130fff;
    height: 600px;
    z-index: 1;
}

.mobile-container {
    position: relative;
    text-align: center;
    color: white;
  }

  .mobile-center {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.mobile-banner{
    width: 100%;
    z-index: 2;
    top: 0;
}

@media only screen and (max-width: 768px) {

    .hide-on-mobile {

      display: none;

    }

  }

  @media only screen and (min-width: 768px) {

.hide-on-desk {
    display: none;
}

  }
